<div fxLayout="row" fxLayoutGap="20px">
	<!-- Column 1 -->
	<div fxFlex>
		<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2px">
			<div fxFlex>
				<mat-table [dataSource]="visits">
					<ng-container matColumnDef="date">
						<mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
						<mat-cell *matCellDef="let visit">
							<a href="#" (click)="viewVisit(visit)">{{visit.date | date}}</a>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="visitTime">
						<mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
						<mat-cell *matCellDef="let visit">{{visit.visitTime}}</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
					<mat-row *matRowDef="let rowData; columns: tableColumns"></mat-row>
				</mat-table>
			</div>
		</div>
	</div>
	<!-- Column 2 -->
	<!-- <div fxFlex>
		<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2px">
			<div fxFlex>
				<app-user-summary [user]="selectedUser"></app-user-summary>
			</div>
		</div>
	</div> -->
</div>