<div @tansformSlideInOut>
	<form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
		<div fxLayout="row" fxLayoutGap="20px">
			<!-- Column 1 -->
			<div fxFlex>
				<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2px">
					<div fxFlex>
						<mat-form-field class="full-width">
							<input matInput id="forename" formControlName="forename" placeholder="Forename" required>
						</mat-form-field>
						<div *ngFor="let error of formErrors.forename">
							{{ error }}
						</div>
					</div>
					<div fxFlex>
						<mat-form-field class="full-width">
							<input matInput id="surname" formControlName="surname" placeholder="Surname" required>
						</mat-form-field>
						<div *ngFor="let error of formErrors.surname">
							{{ error }}
						</div>
					</div>

					<div fxFlex="1 1 50px">
						<mat-radio-group id="gender" formControlName="gender" placeholder="Gender">
							<mat-radio-button value="Female">Female</mat-radio-button>
							<mat-radio-button value="Male">Male</mat-radio-button>
						</mat-radio-group>
					</div>

					<div fxFlex>
						<mat-form-field class="full-width">
							<input matInput [matDatepicker]="dob" [max]="maximumDob" formControlName="dob" placeholder="Date of Birth">
							<mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
						</mat-form-field>
						<mat-datepicker #dob startView="year" [startAt]="defaultDobYear"></mat-datepicker>
						<mat-checkbox id="isDobApproximate" formControlName="isDobApproximate" align="start">
							Approximate?
						</mat-checkbox>
					</div>

					<div fxFlex>
						<p>
							<mat-form-field class="full-width">
								<mat-select id="ethnicity" formControlName="ethnicity" placeholder="Ethnicity">
									<mat-option *ngFor="let code of ethnicityCode | keys" [value]="code.value">{{code.key}}</mat-option>
								</mat-select>
							</mat-form-field>
						</p>
					</div>

				</div>
			</div>
		</div>
		<p>
			<button mat-raised-button color="primary" type="submit" [disabled]="form.pristine || isBusy">Save</button>
			<button mat-raised-button type="reset" (click)="onReset()" [disabled]="form.pristine || isBusy">Reset</button>
			<button mat-raised-button type="button" (click)="onCancel()" [disabled]="isBusy">Cancel</button>
		</p>
	</form>
</div>