<div @tansformSlideInOut>
	<form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>

		<!--name: string;
	dob: Date;
	isDobApproximate?: boolean;
	gender: 'M' | 'F';
	ethnicity: EthnicityCode;
	housingStatus: HousingStatusCode;
	employmentStatus: EmploymentStatusCode;-->

		<div fxLayout="row">
			<!-- Column 1 -->
			<div fxFlex>
				<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2px">
					<div fxFlex>
						<md-input-container class="full-width">
							<input mdInput id="forename" formControlName="forename" placeholder="Forename" required>
						</md-input-container>
						<div *ngFor="let error of formErrors.forename">
							{{ error }}
						</div>
					</div>
					<div fxFlex>
						<md-input-container class="full-width">
							<input mdInput id="surname" formControlName="surname" placeholder="Surname" required>
						</md-input-container>
						<div *ngFor="let error of formErrors.surname">
							{{ error }}
						</div>
					</div>

					<div fxFlex="1 1 50px">
						<md-radio-group id="gender" formControlName="gender" placeholder="Gender">
							<md-radio-button value="Female">Female</md-radio-button>
							<md-radio-button value="Male">Male</md-radio-button>
						</md-radio-group>
					</div>

					<div fxFlex>
						<md-input-container class="full-width">
							<input mdInput id="dob" formControlName="dob" placeholder="Date of Birth" type="date">
						</md-input-container>
						<md-checkbox id="isDobApproximate" formControlName="isDobApproximate" align="start">
							Approximate?
						</md-checkbox>
					</div>

					<div fxFlex>
						<p>
							<md-select id="ethnicity" formControlName="ethnicity" placeholder="Ethnicity">
								<md-option *ngFor="let code of ethnicityCode | keys" [value]="code.value">{{code.key}}</md-option>
							</md-select>
						</p>
					</div>

					<div fxFlex>
						<p>
							<md-select id="familySupport" formControlName="familySupport" placeholder="Family Support">
								<md-option *ngFor="let code of familySupportCode | keys" [value]="code.value">{{code.key}}</md-option>
							</md-select>
						</p>
					</div>

					<div fxFlex>
						<p>
							<md-select id="crisisSupport" formControlName="crisisSupport" placeholder="Crisis Support" [multiple]="true">
								<md-option *ngFor="let code of crisisSupportCode | keys" [value]="code.value">{{code.key}}</md-option>
							</md-select>
						</p>
					</div>
				</div>
			</div>
			<!-- Column 2 -->
			<div fxFlex>
				<!--<div class="grid-cell">
				<md-input [(ngModel)]="user.dob" type="date" name="dob" #dob placeholder="DoB"></md-input>
				<md-checkbox [(ngModel)]="user.isDobApproximate" name="isDobApproximate" #isDobApproximate>Approximate?</md-checkbox>
			</div>

			<div class="grid-cell">
				<md-radio-group [(ngModel)]="user.gender" name="gender" #gender placeholder="Gender">
					<md-radio-button value="F">Female</md-radio-button>
					<md-radio-button value="M">Male</md-radio-button>
				</md-radio-group>
			</div>

			<div class="grid-cell">
				<select [(ngModel)]="user.ethnicity" name="ethnicity" #ethnicity placeholder="Ethnicity">
					<option *ngFor="let code of ethnicityCode | keys" [value]="code.value">{{code.key}}</option>
				</select>
			</div>-->
			</div>
		</div>
		<p>
			<button md-raised-button type="submit" [disabled]="form.pristine">Save</button>
			<button md-raised-button type="reset" (click)="onReset()" [disabled]="form.pristine">Reset</button>
		</p>
	</form>
</div>