<mat-form-field floatPlaceholder="never">
	<input matInput #filterInput placeholder="Filter users" (keyup)=filter(filterInput.value) />
</mat-form-field>

<mat-nav-list>
	<mat-list-item *ngFor="let user of users">
		<a matLine href="#" (click)="view(user)">
			<h3>{{user.forename}} {{user.surname}}</h3>
		</a>
		<p matLine>
			<em>{{user.gender}}</em>
			<span *ngIf="user.dob">, born
				<em>{{user.dob | date}}</em>
			</span>
			<span *ngIf="user.lastVisited">, last visited
				<em>{{(user.lastVisited) | date}}</em>
			</span>
		</p>
	</mat-list-item>
</mat-nav-list>